*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    background-color: #1E2749;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header_left{
    width: 33%;
    display: flex;
    justify-content: left;
}

#header_center{
    width: 33%;
    display: flex;
    justify-content: center;
}

#header_right{
    width: 33%;
    display: flex;
    justify-content: right;
}


/* ------------------     MAIN     ------------------ */

#digi_info{
    display: none;
}

#digi_list{
    background-image: url(./images/background_1.svg);
    background-repeat: repeat-y;
    background-size: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    padding-bottom: 30px;
    height: auto;
}

#buttons_left{
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#buttons_left button{
    background-color: #1E2749;
    width: 55px;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 25%;
    opacity: 1.0;
    transition: 0.3s;
}

#button_baby:hover{
    background-color: #7acabe;
}

#button_rookie:hover{
    background-color: #b87333;
}

#button_champion:hover{
    background-color: #a5a4a4;
}

#button_armor:hover{
    background-color: #5AA9E6;
}

#button_ultimate:hover{
    background-color: #d4af37;
}

#button_mega:hover{
    background-color: #70d1f4;
}

#button_super:hover{
    background-color: #fcfcfc;
}

#button_xantibody:hover{
    background-color: #7F5A83;
}

#main_center{
    width: 80%;
}

h1{
    font-family: 'Righteous', cursive;
    color: white;
    margin: 50px 40% 5px 40%;
    padding-bottom: 7px;
    letter-spacing: 2px;
    text-align:center;
    align-self: center;
    border-bottom: 5px solid white;
    border-width: thick;
}

.main_levels{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

h2{
    font-family: 'Righteous', cursive;
    color: white;
    margin-top: 45px;
    margin-bottom: 7px;
    letter-spacing: 2px;
}

#line_baby{
    background-color: #7acabe;
    width: 100px;
    height: 5px;
}

#line_rookie{
    background-color: #b87333;
    width: 100px;
    height: 5px;
}

#line_champion{
    background-color: #a5a4a4;
    width: 100px;
    height: 5px;
}

#line_armor{
    background-color: #5AA9E6;
    width: 100px;
    height: 5px;
}

#line_ultimate{
    background-color: #d4af37;
    width: 100px;
    height: 5px;
}

#line_mega{
    background-color: #70d1f4;
    width: 100px;
    height: 5px;
}

#line_super{
    background-color: #fcfcfc;
    width: 100px;
    height: 5px;
}

#line_xantibody{
    background-color: #7F5A83;
    width: 100px;
    height: 5px;
}

.frame_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame_container img{
    margin-top:30px;
    margin-left: 30px;
    margin-right: 30px;
}

.frame_container p{
    text-align: center;
}

.p_name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

.evolve_requeriments{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: white;
    font-style: italic;
    padding-top: 7px;
    border-top: 2px solid white;
}

a{
    text-decoration: none;
}

/* ------------------     FOOTER     ------------------ */
footer{
    background-color: #1E2749;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 9px;
    color: white;
    bottom: 0;
    width: 100%;
}

footer p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}