*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    background-color: #1E2749;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header_left{
    width: 33%;
    display: flex;
    justify-content: left;
}

#header_center{
    width: 33%;
    display: flex;
    justify-content: center;
}

#header_right{
    width: 33%;
    display: flex;
    justify-content: right;
}


/* ------------------     MAIN     ------------------ */

#digi_info{
    display: none;
}

#digi_list{
    background-image: url(./images/background_1.svg);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

h1{
    font-family: 'Righteous', cursive;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 3px solid white;
    padding-bottom: 7px;
    letter-spacing: 2px;
}

#main_center{
    width: 70%;
}

.main_levels{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

h2{
    font-family: 'Righteous', cursive;
    color: white;
    margin-top: 25px;
    margin-bottom: 7px;
    letter-spacing: 2px;
}

#line_baby{
    background-color: #7acabe;
    width: 100px;
    height: 5px;
}

#line_rookie{
    background-color: #b87333;
    width: 100px;
    height: 5px;
}

#line_champion{
    background-color: #a5a4a4;
    width: 100px;
    height: 5px;
}

#line_ultimate{
    background-color: #d4af37;
    width: 100px;
    height: 5px;
}

#line_mega{
    background-color: #70d1f4;
    width: 100px;
    height: 5px;
}

#line_super{
    background-color: #fcfcfc;
    width: 100px;
    height: 5px;
}

.frame_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame_container img{
    margin-top:30px;
    margin-left: 30px;
    margin-right: 30px;
}

.frame_container p{
    text-align: center;
}

.p_name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

.evolve_requeriments{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: white;
    font-style: italic;
    padding-top: 7px;
    border-top: 2px solid white;
}

a{
    text-decoration: none;
}

/* ------------------     FOOTER     ------------------ */
footer{
    background-color: #1E2749;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 9px;
    color: white;
    bottom: 0;
    width: 100%;
}

footer p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}